<h1>Loan Eligibility</h1>
<h3>User name is <%= userDetails.name %>
</h3>

<p>
    <% if (userDetails.age>18) { %>

        eligible for a loan
        <% } else { %>
            not eligible for a loan
            <% } %>
</p>